In [1]:
import csv
data = list(csv.reader(open("Store.csv", encoding = "UTF - 8")))

In [14]:
header = data[0]
info = data[1:]

In [15]:
len(info)

7197

In [16]:
print(header)

['id', 'track_name', 'size_bytes', 'currency', 'price', 'rating_count_tot', 'rating_count_ver', 'user_rating', 'user_rating_ver', 'ver', 'cont_rating', 'prime_genre', 'sup_devices.num', 'ipadSc_urls.num', 'lang.num', 'vpp_lic']

In [17]:
id_freq_table = {}

for i in info:
    id_0 = i[0]
    if id_0 in id_freq_table:
        id_freq_table[id_0] += 1
    else:
        id_freq_table[id_0] = 1

print("id_freq_table items count =",len(id_freq_table))



track_name = []

for k in info:
    track_name_1 = k[1]
    if track_name_1 not in track_name:
        track_name.append(track_name_1)
         
print("track_name items count =",len(track_name))



size_bytes = {}

for l in info:
    size_bytes_2 = l[2]
    if size_bytes_2 in size_bytes:
        size_bytes[size_bytes_2] += 1
    else:
        size_bytes[size_bytes_2] = 1

print("size_bytes items count =",len(size_bytes))



currency = []

for x in info:
    currency_3 = x[3]
    currency.append(currency_3)
len(set(currency))    
 
print("currency items count =",len(set(currency)))



price = {}

for r in info:
    price_4 = r[4]
    if price_4 not in price:
        price[price_4] = 1
    else:
        price[price_4] += 1

print("price items count =",len(price))        
        


rating_count_tot = []
count = 0
for c in info:
    rating_count_tot_5 = c[5]
    if rating_count_tot_5 not in rating_count_tot:
        rating_count_tot.append(rating_count_tot_5)

print("rating_count_tot items count =",len(rating_count_tot))  



rating_count_ver = []

for q in info:
    rating_count_ver_6 = q[6]
    rating_count_ver.append(rating_count_ver_6)

print("rating_count_ver items count =",len(set(rating_count_ver)))  
 

    
prime_genre = {}

for p in info:
    prime_genre_11 = p[11]
    if prime_genre_11 in prime_genre:
        prime_genre[prime_genre_11] += 1
    else:
        prime_genre[prime_genre_11] = 1
print(prime_genre)

id_freq_table items count = 7197
track_name items count = 7195
size_bytes items count = 7107
currency items count = 1
price items count = 36
rating_count_tot items count = 3185
rating_count_ver items count = 1138
{'Social Networking': 167, 'Photo & Video': 349, 'Games': 3862, 'Music': 138, 'Reference': 64, 'Health & Fitness': 180, 'Weather': 72, 'Utilities': 248, 'Travel': 81, 'Shopping': 122, 'News': 75, 'Navigation': 46, 'Lifestyle': 144, 'Entertainment': 535, 'Food & Drink': 63, 'Sports': 114, 'Book': 112, 'Finance': 104, 'Education': 453, 'Productivity': 178, 'Business': 57, 'Catalogs': 10, 'Medical': 23}

In [18]:
print(price)

key = []
for i in price.keys():
        key.append(float(i))
print("""
""")        
print(key)

print("""""")
print(sum(key))


value = []
for i in price.values():
        value.append(int(i))
print("""
""")        
print(value)

print("""""")
print(sum(value))

{'0.0': 4056, '1.99': 621, '0.99': 728, '6.99': 166, '2.99': 683, '7.99': 33, '4.99': 394, '9.99': 81, '3.99': 277, '8.99': 9, '5.99': 52, '14.99': 21, '13.99': 6, '19.99': 13, '17.99': 3, '15.99': 4, '24.99': 8, '20.99': 2, '29.99': 6, '12.99': 5, '39.99': 2, '74.99': 1, '16.99': 2, '249.99': 1, '11.99': 6, '27.99': 2, '49.99': 2, '59.99': 3, '22.99': 2, '18.99': 1, '99.99': 1, '21.99': 1, '34.99': 1, '299.99': 1, '23.99': 2, '47.99': 1}


[0.0, 1.99, 0.99, 6.99, 2.99, 7.99, 4.99, 9.99, 3.99, 8.99, 5.99, 14.99, 13.99, 19.99, 17.99, 15.99, 24.99, 20.99, 29.99, 12.99, 39.99, 74.99, 16.99, 249.99, 11.99, 27.99, 49.99, 59.99, 22.99, 18.99, 99.99, 21.99, 34.99, 299.99, 23.99, 47.99]

1329.65


[4056, 621, 728, 166, 683, 33, 394, 81, 277, 9, 52, 21, 6, 13, 3, 4, 8, 2, 6, 5, 2, 1, 2, 1, 6, 2, 2, 3, 2, 1, 1, 1, 1, 1, 2, 1]

7197

In [19]:
import csv

store = list(csv.reader(open("Store.csv", encoding = "Latin - 1")))

for w in store[1:]:
    price__4 = float(w[4])
    if price__4 == 0:
        w.append("free")
    elif price__4 <= 20:
        w.append("affordable")
    elif price__4 <=50:
        w.append("expensive")
    else:
        w.append("most expensive")

for i in range(1,21):
    print(store[i][4],store[i][-1])        
        
price__frq_table = {}

for v in store[1:]:
    if v[-1] not in price__frq_table:
        price__frq_table[v[-1]] = 1
    else:
        price__frq_table[v[-1]] +=1
print(price__frq_table)
        


for u in store:
    cat_genre = u[-1]+u[11]
    u.append(cat_genre)

for i in range(1,21):
    print(store[i][-1])

0.0 free
0.0 free
0.0 free
0.0 free
0.0 free
0.0 free
0.0 free
0.0 free
0.0 free
0.0 free
0.0 free
1.99 affordable
0.0 free
0.0 free
0.0 free
0.0 free
0.0 free
0.99 affordable
6.99 affordable
0.0 free
{'free': 4056, 'affordable': 3105, 'expensive': 29, 'most expensive': 7}
freeSocial Networking
freePhoto & Video
freeGames
freeGames
freeMusic
freeSocial Networking
freeReference
freeGames
freeMusic
freeGames
freeGames
affordableGames
freeGames
freeGames
freeGames
freeGames
freeGames
affordableGames
affordableGames
freeGames

In [20]:
## free or affordable and social networking or games

free_social_networking = 0
free_games = 0
affordable_Social_networking = 0
affordable_games = 0

for y in store[1:]:
    free_afford = y[-2]
    social_games = y[11]
    if free_afford == "free" and social_games == "Social Networking":
        free_social_networking += 1
    elif free_afford == "free" and social_games == "Games":
        free_games += 1
    elif free_afford == "affordable" and social_games == "Social Networking":
        affordable_Social_networking += 1
    elif free_afford == "affordable" and social_games == "Games":
        affordable_games += 1

print(free_social_networking , free_games, affordable_Social_networking, affordable_games)  

more_fretab = {}

for m in store[1:]:
    if m[-1] not in more_fretab:
        more_fretab[m[-1]] = 1
    else:
        more_fretab[m[-1]] += 1

print(more_fretab["freeSocial Networking"],more_fretab["freeGames"],more_fretab["affordableSocial Networking"],more_fretab["affordableGames"])

143 2257 24 1602
143 2257 24 1602

# Function

In [21]:
# header
# body
# return

In [22]:
def add(x):
    plus = 0
    for i in x:
        plus += i
    return plus

In [23]:
add(range(1,10))

45

In [24]:
numn = range(1,11)
num = []
for o in numn:
    num.append(o)
print(num)
    
add(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

55

In [25]:
def power(n,p):
    calc = n**p
    return calc

In [26]:
def gen_freq(data_x,index):
    count_table = {}
    for row in data_x:
        if row[index] not in count_table:
            count_table[row[index]] = 1
        else:
            count_table[row[index]] += 1
    return count_table

In [27]:
gen_freq(store[1:],11)

{'Social Networking': 167,
 'Photo & Video': 349,
 'Games': 3862,
 'Music': 138,
 'Reference': 64,
 'Health & Fitness': 180,
 'Weather': 72,
 'Utilities': 248,
 'Travel': 81,
 'Shopping': 122,
 'News': 75,
 'Navigation': 46,
 'Lifestyle': 144,
 'Entertainment': 535,
 'Food & Drink': 63,
 'Sports': 114,
 'Book': 112,
 'Finance': 104,
 'Education': 453,
 'Productivity': 178,
 'Business': 57,
 'Catalogs': 10,
 'Medical': 23}

In [28]:
def appended_key(data_y,index,r1,r2,r3,r4,r5):
    for k in data_y:
        if float(k[index]) <= float(r1):
            k.append("<="+r1)
        elif float(k[index]) <= float(r2):
            k.append("<="+r2)
        elif float(k[index]) <= float(r3):
            k.append("<="+r3)
        elif float(k[index]) <= float(r4):
            k.append("<="+r4)
        elif float(k[index]) <= float(r5):
            k.append("<="+r5)
        elif float(k[index]) > float(r5):
            k.append("above"+r5)
    general = {}
    for g in data_y:
        if g[-1] not in general:
            general[g[-1]] = 1
        else:
            general[g[-1]] += 1
    return general

In [29]:
import csv
store = list(csv.reader(open("Store.csv", encoding = "UTF - 8")))

appended_key(store[1:],5,'1000','10000','100000','500000','1000000')

{'above1000000': 6,
 '<=1000000': 16,
 '<=500000': 196,
 '<=100000': 798,
 '<=10000': 1584,
 '<=1000': 4597}

In [30]:
import csv

store_1 = list(csv.reader(open("Store.csv", encoding = "Latin - 1")))

header_office_1 = store_1[0]
data_office_1 = store_1[1:]

header_office_1.append("price_cat")

for i in data_office_1:
    price_4 = float(i[4])
    if price_4 == 0:
        i.append("free")
    elif price_4 <= 20:
        i.append("affordable")
    elif price_4 <= 50:
        i.append("expensive")
    elif price_4 > 50:
        i.append("most expensive")

for i in range(20,30):
    print(store_1[i][4]," ",store_1[i][-1])

0.0   free
0.0   free
0.0   free
0.0   free
0.0   free
0.0   free
0.0   free
0.0   free
0.0   free
0.99   affordable

In [31]:
import csv
store_2 = list(csv.reader(open("Store.csv", encoding = "UTF - 8")))
header_office_2 = store_2[0]
data_office_2 = store_2[1:]

price_cat = ["price_cat"]

for i in data_office_2:
    price_4 = float(i[4])
    if price_4 == 0:
        price_cat.append("free")
    elif price_4 <= 20:
        price_cat.append("affordable")
    elif price_4 <= 50:
        price_cat.append("expensive")
    elif price_4 > 50:
        price_cat.append("most expensive")
        
index = 0       
for i in store_2:
    store_2[index].append(price_cat[index])
    index += 1

for i in range(20,30):
    print(store_2[i][4]," ",store_2[i][-1])

0.0   free
0.0   free
0.0   free
0.0   free
0.0   free
0.0   free
0.0   free
0.0   free
0.0   free
0.99   affordable

In [32]:
abc = [["a","b","c"],["x","y","z"],["q","w","e"]]
abc_1 = [[1,2,3],[8,9,0],[4,5,6]]

    
    
print([abc[0][0],abc_1[0][0]])
print([abc[0][1],abc_1[0][1]])
print([abc[0][2],abc_1[0][2]])
print("")
print([abc[1][0],abc_1[1][0]])
print([abc[1][1],abc_1[1][1]])
print([abc[1][2],abc_1[1][2]])
print("")
print([abc[2][0],abc_1[2][0]])
print([abc[2][1],abc_1[2][1]])
print([abc[2][2],abc_1[2][2]])


for i in range(0,3):
    for w in range(0,3):
        print([abc[i][w],abc_1[i][w]])

['a', 1]
['b', 2]
['c', 3]

['x', 8]
['y', 9]
['z', 0]

['q', 4]
['w', 5]
['e', 6]
['a', 1]
['b', 2]
['c', 3]
['x', 8]
['y', 9]
['z', 0]
['q', 4]
['w', 5]
['e', 6]

In [33]:

ultimate = []
for i in range(0,3):
    for a in range(0,3):
        ultimate.append([i,a])
print(ultimate)

[[0, 0], [0, 1], [0, 2], [1, 0], [1, 1], [1, 2], [2, 0], [2, 1], [2, 2]]

In [34]:
st = 'a'
nd = 1

ww = [st,nd]

ww

['a', 1]

In [35]:
store_1_ = []
store_2_ = []

for i in store_1:
    pr_1 = i[4]
    p_cat_1 = i[-1]
    store_1_.append([pr_1,p_cat_1])
print(store_1_[0:11])  
print("")
for i in store_1:
    pr_2 = i[4]
    p_cat_2 = i[-1]
    store_2_.append([pr_2,p_cat_2])
print(store_2_[0:11])

[['price', 'price_cat'], ['0.0', 'free'], ['0.0', 'free'], ['0.0', 'free'], ['0.0', 'free'], ['0.0', 'free'], ['0.0', 'free'], ['0.0', 'free'], ['0.0', 'free'], ['0.0', 'free'], ['0.0', 'free']]

[['price', 'price_cat'], ['0.0', 'free'], ['0.0', 'free'], ['0.0', 'free'], ['0.0', 'free'], ['0.0', 'free'], ['0.0', 'free'], ['0.0', 'free'], ['0.0', 'free'], ['0.0', 'free'], ['0.0', 'free']]

In [36]:
new_price= []
new_price_cat = []

for i in store_1_[0:11]:
    new_price.append(i[0])
    new_price_cat.append(i[1])
print(new_price)
print(new_price_cat)

['price', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0']
['price_cat', 'free', 'free', 'free', 'free', 'free', 'free', 'free', 'free', 'free', 'free']

In [37]:
trfe = []
for i in range(0,11):
    if store_1_[i][0] == store_2_[i][0]:
        trfe.append("True_1")
    if store_1_[i][1] == store_2_[i][1]:
        trfe.append("True_2")

col_1=[]
col_2=[]
for i in range(0,22):
    if i%2 == 0:
        col_1.append(trfe[i])
    else:
        col_2.append(trfe[i])
        
com_col = []
for i in range(0,11):
    com_col.append([col_1[i],col_2[i]])
    
    
       
print(com_col)

print("""
""")
true_1 = []
true_2 = []
for i in range(0,11):
    tr_1 = com_col[i].index('True_1')
    tr_2 = com_col[i].index('True_2')
    true_1.append(com_col[i][tr_1])
    true_2.append(com_col[i][tr_2])

print(true_1)
print(true_2)

[['True_1', 'True_2'], ['True_1', 'True_2'], ['True_1', 'True_2'], ['True_1', 'True_2'], ['True_1', 'True_2'], ['True_1', 'True_2'], ['True_1', 'True_2'], ['True_1', 'True_2'], ['True_1', 'True_2'], ['True_1', 'True_2'], ['True_1', 'True_2']]


['True_1', 'True_1', 'True_1', 'True_1', 'True_1', 'True_1', 'True_1', 'True_1', 'True_1', 'True_1', 'True_1']
['True_2', 'True_2', 'True_2', 'True_2', 'True_2', 'True_2', 'True_2', 'True_2', 'True_2', 'True_2', 'True_2']

In [38]:
free = 0
affordable = 0
expensive = 0
most_expensive = 0

for i in store_1[1:]:
    price_category = i[-1]
    if price_category == "free":
        free += 1
    elif price_category == "affordable":
        affordable += 1
    elif price_category == "expensive":
        expensive += 1
    elif price_category == "most expensive":
        most_expensive += 1
print(free, affordable, expensive, most_expensive) 


free_1 = []
affordable_1 = []
expensive_1 = []
most_expensive_1 = []

for i in store_2[1:]:
    price_category_1 = i[-1]
    if price_category_1 == "free":
        free_1.append(price_category_1)
    elif price_category_1 == "affordable":
        affordable_1.append(price_category_1)
    elif price_category_1 == "expensive":
        expensive_1.append(price_category_1)
    elif price_category_1 == "most expensive":
        most_expensive_1.append(price_category_1)
print(len(free_1), len(affordable_1), len(expensive_1), len(most_expensive_1))


free_2 = []
affordable_2 = []
expensive_2 = []
most_expensive_2 = []


for i in store_1[1:]:
    price_cat_2 = i[-1]
    if price_cat_2 == "free":
        free_2.append(1)
    elif price_cat_2 == "affordable":
        affordable_2.append(1)
    elif price_cat_2 == "expensive":
        expensive_2.append(1)
    elif price_cat_2 == "most expensive":
        most_expensive_2.append(1)
print(sum(free_2), sum(affordable_2), sum(expensive_2), sum(most_expensive_2))

4056 3105 29 7
4056 3105 29 7
4056 3105 29 7

In [39]:
id__1 = {}
zero = 0
upto_100K = 0
upto_1mln = 0
upto_5mln = 0

for i in store[1:]:
    col_1 = float(i[5])
    if col_1 <= 0:
        zero += 1
        id__1["<= zero"] = zero
    elif col_1 <= 100000:
        upto_100K += 1
        id__1["upto 100K"] = upto_100K
    elif col_1 <= 1000000:
        upto_1mln += 1
        id__1["upto_1mln"] = upto_1mln
    elif col_1 <= 5000000:
        upto_5mln += 1
        id__1["upto_5mln"] = upto_5mln
    elif col_1 > 5000000:
        above_5mln += 1
        id__1["above_5mln"] = upto_5mln

print(id__1)


id__2 = {"zero":[],"100K":[],"1mln":[]}

for i in store[1:]:
    col_1 = float(i[5])
    if col_1 <= 0:
        id__2["zero"].append(col_1)
    elif col_1 <= 100000:
        id__2["100K"].append(col_1)
    elif col_1 <= 1000000:
        id__2["1mln"].append(col_1)

print(len(id__2["zero"]),len(id__2["100K"]),len(id__2["1mln"]))

{'upto_5mln': 6, 'upto_1mln': 212, 'upto 100K': 6050, '<= zero': 929}
929 6050 212

In [40]:
Maha = {}

for i in store[0]:
    Maha[i] = list()    
    
print(Maha)

{'id': [], 'track_name': [], 'size_bytes': [], 'currency': [], 'price': [], 'rating_count_tot': [], 'rating_count_ver': [], 'user_rating': [], 'user_rating_ver': [], 'ver': [], 'cont_rating': [], 'prime_genre': [], 'sup_devices.num': [], 'ipadSc_urls.num': [], 'lang.num': [], 'vpp_lic': []}

In [41]:
Maha = {}

for i in store[0]:
    Maha[i] = list() 

for i in range(1,7198):
    Maha[store[0][0]].append(store[i][0])
    Maha[store[0][1]].append(store[i][1])
    Maha[store[0][2]].append(store[i][2])
    Maha[store[0][3]].append(store[i][3])
    Maha[store[0][4]].append(store[i][4])
    Maha[store[0][5]].append(store[i][5])
    Maha[store[0][6]].append(store[i][6])
    Maha[store[0][7]].append(store[i][7])
    Maha[store[0][8]].append(store[i][8])
    Maha[store[0][9]].append(store[i][9])
    Maha[store[0][10]].append(store[i][10])
    Maha[store[0][11]].append(store[i][11])
    Maha[store[0][12]].append(store[i][12])
    Maha[store[0][13]].append(store[i][13])
    Maha[store[0][14]].append(store[i][14])
    Maha[store[0][15]].append(store[i][15])

In [42]:
Maha['price_category'] = list()

for i in Maha['price']:
    price_amt = float(i)
    if price_amt == 0:
        Maha['price_category'].append("free")
    elif price_amt <= 20:
        Maha['price_category'].append("affordable")
    elif price_amt <= 50:
        Maha['price_category'].append("expensive")
    elif price_amt >50:
        Maha['price_category'].append("most expensive")

for i in range(0,31):
    print(Maha['price'][i],Maha['price_category'][i])

0.0 free
0.0 free
0.0 free
0.0 free
0.0 free
0.0 free
0.0 free
0.0 free
0.0 free
0.0 free
0.0 free
1.99 affordable
0.0 free
0.0 free
0.0 free
0.0 free
0.0 free
0.99 affordable
6.99 affordable
0.0 free
0.0 free
0.0 free
0.0 free
0.0 free
0.0 free
0.0 free
0.0 free
0.0 free
0.99 affordable
0.0 free
0.0 free

In [43]:
Maha['rating_count_tot_category'] = list()

for i in Maha['rating_count_tot']:
    rating_count_tot = float(i)
    if rating_count_tot <= 1000:
        Maha['rating_count_tot_category'].append('-1 to 1k')
    elif rating_count_tot <= 10000:
        Maha['rating_count_tot_category'].append('1k to 10k')
    elif rating_count_tot <= 100000:
        Maha['rating_count_tot_category'].append('10k to 100k')
    elif rating_count_tot <= 500000:
        Maha['rating_count_tot_category'].append('100k to 500k') 
    elif rating_count_tot <= 1000000:
        Maha['rating_count_tot_category'].append('500k to 1000k')    
    elif rating_count_tot > 1000000:
        Maha['rating_count_tot_category'].append('above 1000k')

for i in range(0,31):
    print(Maha['price'][i]," ",Maha['price_category'][i]," ",Maha['rating_count_tot'][i]," ",Maha['rating_count_tot_category'][i])

0.0   free   2974676   above 1000k
0.0   free   2161558   above 1000k
0.0   free   2130805   above 1000k
0.0   free   1724546   above 1000k
0.0   free   1126879   above 1000k
0.0   free   1061624   above 1000k
0.0   free   985920   500k to 1000k
0.0   free   961794   500k to 1000k
0.0   free   878563   500k to 1000k
0.0   free   824451   500k to 1000k
0.0   free   706110   500k to 1000k
1.99   affordable   698516   500k to 1000k
0.0   free   679055   500k to 1000k
0.0   free   677247   500k to 1000k
0.0   free   669079   500k to 1000k
0.0   free   612532   500k to 1000k
0.0   free   567344   500k to 1000k
0.99   affordable   541693   500k to 1000k
6.99   affordable   522012   500k to 1000k
0.0   free   508808   500k to 1000k
0.0   free   507706   500k to 1000k
0.0   free   503230   500k to 1000k
0.0   free   495626   100k to 500k
0.0   free   481564   100k to 500k
0.0   free   479440   100k to 500k
0.0   free   464312   100k to 500k
0.0   free   446880   100k to 500k
0.0   free   446185   100k to 500k
0.99   affordable   426463   100k to 500k
0.0   free   418033   100k to 500k
0.0   free   417779   100k to 500k

In [44]:
Maha_2 = {}

for i in store[0]:
    Maha_2[i] = set()
    

print(Maha_2)

{'id': set(), 'track_name': set(), 'size_bytes': set(), 'currency': set(), 'price': set(), 'rating_count_tot': set(), 'rating_count_ver': set(), 'user_rating': set(), 'user_rating_ver': set(), 'ver': set(), 'cont_rating': set(), 'prime_genre': set(), 'sup_devices.num': set(), 'ipadSc_urls.num': set(), 'lang.num': set(), 'vpp_lic': set()}

In [52]:
Maha_2 = {}

for i in store[0]:
    Maha_2[i] = set()

for i in range(1,7198):
    Maha_2[store[0][11]].add(store[i][11])
    
print(Maha_2[store[0][11]])

{'Food & Drink', 'News', 'Utilities', 'Weather', 'Lifestyle', 'Social Networking', 'Games', 'Music', 'Education', 'Navigation', 'Business', 'Sports', 'Medical', 'Health & Fitness', 'Shopping', 'Reference', 'Photo & Video', 'Travel', 'Finance', 'Productivity', 'Entertainment', 'Book', 'Catalogs'}

In [55]:
set_2 = {1,2,3,4,5,6,2,1}

In [59]:
set_2.union()

{1, 2, 3, 4, 5, 6}

In [60]:
for i in 11,12,13:
    id1["l"].append
print(id1)

NameError: name 'id1' is not defined