In [4]:
import csv
f = open('whitehouse_visitors.csv')
f.close()

In [11]:
with open('whitehouse_visitors.csv') as file:
    potus = list(csv.reader(file))
    head = potus[0]
    data = potus[1:]
    
print(head)
for i in data[0:5]:
    print(i)

['name', 'appt_made_date', 'appt_start_date', 'appt_end_date', 'visitee_namelast', 'visitee_namefirst', 'meeting_room', 'description']
['Joshua T. Blanton', '2014-12-18T00:00:00', '1/6/15 9:30', '1/6/15 23:59', '', 'potus', 'west wing', 'JointService Military Honor Guard']
['Jack T. Gutting', '2014-12-18T00:00:00', '1/6/15 9:30', '1/6/15 23:59', '', 'potus', 'west wing', 'JointService Military Honor Guard']
['Bradley T. Guiles', '2014-12-18T00:00:00', '1/6/15 9:30', '1/6/15 23:59', '', 'potus', 'west wing', 'JointService Military Honor Guard']
['Loryn F. Grieb', '2014-12-18T00:00:00', '1/6/15 9:30', '1/6/15 23:59', '', 'potus', 'west wing', 'JointService Military Honor Guard']
['Travis D. Gordon', '2014-12-18T00:00:00', '1/6/15 9:30', '1/6/15 23:59', '', 'potus', 'west wing', 'JointService Military Honor Guard']

In [16]:
import pandas as pd
potus_df = pd.read_csv('whitehouse_visitors.csv')
potus_df.loc[0:10]
potus_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47954 entries, 0 to 47953
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               47954 non-null  object
 1   appt_made_date     47954 non-null  object
 2   appt_start_date    47954 non-null  object
 3   appt_end_date      47954 non-null  object
 4   visitee_namelast   6069 non-null   object
 5   visitee_namefirst  47953 non-null  object
 6   meeting_room       47954 non-null  object
 7   description        8053 non-null   object
dtypes: object(8)
memory usage: 2.9+ MB

In [40]:
import datetime as dt

In [26]:
dt.datetime(2016,1,6,23,59).minute

59

In [30]:
'1/6/15 23:59'[4:6]

'15'

In [31]:
'20'+'1/6/15 23:59'[4:6]

'2015'

In [77]:
ind_d = dt.datetime(1947,8,14,20,30)

In [47]:
ind_d.strftime("%a")

'Thu'

In [48]:
ind_d.strftime("%b")

'Aug'

In [49]:
potus_df

                     name       appt_made_date  ... meeting_room                        description
0       Joshua T. Blanton  2014-12-18T00:00:00  ...    west wing  JointService Military Honor Guard
1         Jack T. Gutting  2014-12-18T00:00:00  ...    west wing  JointService Military Honor Guard
2       Bradley T. Guiles  2014-12-18T00:00:00  ...    west wing  JointService Military Honor Guard
3          Loryn F. Grieb  2014-12-18T00:00:00  ...    west wing  JointService Military Honor Guard
4        Travis D. Gordon  2014-12-18T00:00:00  ...    west wing  JointService Military Honor Guard
...                   ...                  ...  ...          ...                                ...
47949  William B. Henline  2015-12-16T00:00:00  ...   State Floo                                NaN
47950       Ian T. Burris  2015-12-16T00:00:00  ...   State Floo                                NaN
47951    James F. Albaugh  2015-12-16T00:00:00  ...   State Floo                                NaN
47952    Jackie L. Finken  2015-12-16T00:00:00  ...   State Floo                                NaN
47953     Grace M. Bauman  2015-12-16T00:00:00  ...   State Floo                                NaN

[47954 rows x 8 columns]

In [ ]:
# day in number => "%d"
# day in word => "%A" or "%a"
# month in number => "%m"
# month in word => "%B" or "%b"
# year in number => "%y"
# year in word => "%B" or "%b"

In [85]:
print(ind_d.strftime("%d")) # for day in number
print(ind_d.strftime("%A")) # for day in words full
print(ind_d.strftime("%a")) # for day in short words
print(ind_d.strftime("%m")) 
print(ind_d.strftime("%B"))
print(ind_d.strftime("%b"))
print(ind_d.strftime("%y"))
print(ind_d.strftime("%Y"))
print(ind_d.strftime("%H")) # for 24 hour format
print(ind_d.strftime("%I")) # for 12 hour format
# for am or pm => "%p"
print(ind_d.strftime("%M")) # for minutes

14
Thursday
Thu
08
August
Aug
47
1947
20
08
30

In [87]:
 ind_d.strftime("%a")

'Thu'

In [91]:
date = '12/18/15 16:30'
date_format = "%m/%d/%y %H:%M"

In [92]:
dt.datetime.strptime(date, date_format)

datetime.datetime(2015, 12, 18, 16, 30)

In [93]:
for i in data:
    i[2] = dt.datetime.strptime(i[2], date_format)

In [99]:
for i in data:
    i[3] = dt.datetime.strptime(i[3], date_format)

In [102]:
for i in data[0:5]:
    print(i[2]," ",i[3])

2015-01-06 09:30:00   2015-01-06 23:59:00
2015-01-06 09:30:00   2015-01-06 23:59:00
2015-01-06 09:30:00   2015-01-06 23:59:00
2015-01-06 09:30:00   2015-01-06 23:59:00
2015-01-06 09:30:00   2015-01-06 23:59:00

In [107]:
year = []

for i in  data:
    year.append(i[2].year)
    
set(year)

{2015}

In [124]:
dt.datetime(2015,4,6,12,5)

'05'

In [125]:
len(data)

47954

In [135]:
freq_table_month = {}

for i in data:
    if i[2].strftime("%b-%y") not in freq_table_month:
        freq_table_month[i[2].strftime("%b-%y")] = 1
    else:
        freq_table_month[i[2].strftime("%b-%y")] += 1
freq_table_month

{'Jan-15': 1248,
 'Feb-15': 2165,
 'Mar-15': 2262,
 'Apr-15': 4996,
 'May-15': 3013,
 'Jun-15': 7743,
 'Jul-15': 2930,
 'Aug-15': 1350,
 'Sep-15': 4416,
 'Oct-15': 3669,
 'Nov-15': 1133,
 'Dec-15': 13029}

In [146]:
time = "8:30 am"
form = "%I:%M %p"

In [152]:
time_list = {}

for i in data:
    if i[2].time() not in time_list:
        time_list[i[2].time()] = 1
    else:
        time_list[i[2].time()] += 1

time_list

{datetime.time(9, 30): 1213,
 datetime.time(10, 0): 1543,
 datetime.time(10, 30): 696,
 datetime.time(11, 0): 783,
 datetime.time(11, 30): 357,
 datetime.time(12, 30): 1115,
 datetime.time(9, 0): 511,
 datetime.time(19, 0): 301,
 datetime.time(10, 55): 2,
 datetime.time(12, 0): 1041,
 datetime.time(13, 0): 1548,
 datetime.time(13, 30): 5897,
 datetime.time(14, 0): 996,
 datetime.time(14, 30): 921,
 datetime.time(18, 0): 8173,
 datetime.time(15, 30): 2855,
 datetime.time(16, 0): 2027,
 datetime.time(15, 0): 862,
 datetime.time(10, 20): 12,
 datetime.time(17, 15): 103,
 datetime.time(11, 45): 39,
 datetime.time(12, 5): 6,
 datetime.time(14, 15): 119,
 datetime.time(14, 55): 13,
 datetime.time(12, 15): 32,
 datetime.time(17, 0): 930,
 datetime.time(17, 20): 16,
 datetime.time(17, 30): 457,
 datetime.time(8, 30): 395,
 datetime.time(16, 30): 1144,
 datetime.time(7, 0): 1768,
 datetime.time(7, 30): 818,
 datetime.time(8, 0): 460,
 datetime.time(15, 45): 23,
 datetime.time(17, 45): 38,
 datetime.time(18, 30): 985,
 datetime.time(19, 15): 17,
 datetime.time(19, 30): 99,
 datetime.time(20, 0): 185,
 datetime.time(20, 30): 22,
 datetime.time(16, 15): 69,
 datetime.time(15, 20): 36,
 datetime.time(14, 10): 9,
 datetime.time(14, 45): 1434,
 datetime.time(12, 55): 1,
 datetime.time(13, 9): 1,
 datetime.time(13, 20): 36,
 datetime.time(16, 55): 5,
 datetime.time(10, 45): 347,
 datetime.time(11, 50): 4,
 datetime.time(13, 15): 272,
 datetime.time(17, 25): 24,
 datetime.time(9, 15): 6,
 datetime.time(21, 30): 9,
 datetime.time(17, 5): 6,
 datetime.time(11, 15): 3,
 datetime.time(18, 15): 390,
 datetime.time(7, 15): 40,
 datetime.time(8, 45): 249,
 datetime.time(15, 15): 3732,
 datetime.time(18, 20): 4,
 datetime.time(18, 22): 1,
 datetime.time(18, 23): 1,
 datetime.time(18, 33): 1,
 datetime.time(18, 42): 1,
 datetime.time(9, 45): 220,
 datetime.time(11, 20): 7,
 datetime.time(16, 45): 224,
 datetime.time(12, 45): 921,
 datetime.time(15, 5): 18,
 datetime.time(15, 8): 1,
 datetime.time(12, 11): 1,
 datetime.time(12, 22): 1,
 datetime.time(12, 24): 1,
 datetime.time(12, 27): 1,
 datetime.time(13, 48): 1,
 datetime.time(13, 52): 1,
 datetime.time(13, 55): 1,
 datetime.time(14, 3): 1,
 datetime.time(14, 9): 1,
 datetime.time(16, 20): 1,
 datetime.time(6, 0): 256,
 datetime.time(7, 35): 1,
 datetime.time(7, 59): 1,
 datetime.time(8, 6): 1,
 datetime.time(8, 22): 1,
 datetime.time(8, 35): 1,
 datetime.time(19, 3): 1,
 datetime.time(15, 23): 1,
 datetime.time(15, 55): 10,
 datetime.time(14, 50): 8,
 datetime.time(13, 35): 4,
 datetime.time(15, 25): 11,
 datetime.time(13, 50): 167,
 datetime.time(13, 45): 344,
 datetime.time(14, 12): 3,
 datetime.time(12, 50): 2,
 datetime.time(12, 56): 1,
 datetime.time(12, 59): 2,
 datetime.time(13, 5): 1,
 datetime.time(13, 18): 1,
 datetime.time(13, 25): 2,
 datetime.time(13, 40): 1,
 datetime.time(13, 47): 1,
 datetime.time(10, 10): 2,
 datetime.time(10, 15): 65,
 datetime.time(10, 25): 13,
 datetime.time(12, 32): 2,
 datetime.time(12, 40): 2,
 datetime.time(12, 46): 2,
 datetime.time(13, 10): 1,
 datetime.time(16, 40): 12,
 datetime.time(21, 0): 11,
 datetime.time(17, 40): 4,
 datetime.time(17, 50): 4,
 datetime.time(17, 55): 1,
 datetime.time(17, 57): 1,
 datetime.time(17, 59): 2,
 datetime.time(18, 5): 1,
 datetime.time(18, 45): 27,
 datetime.time(12, 20): 4,
 datetime.time(16, 10): 176,
 datetime.time(15, 28): 2,
 datetime.time(15, 35): 2,
 datetime.time(15, 52): 1,
 datetime.time(15, 54): 3,
 datetime.time(15, 58): 1,
 datetime.time(16, 6): 1,
 datetime.time(16, 22): 1,
 datetime.time(16, 35): 11,
 datetime.time(11, 25): 1,
 datetime.time(18, 50): 11,
 datetime.time(19, 45): 4,
 datetime.time(20, 15): 1,
 datetime.time(9, 35): 1,
 datetime.time(16, 25): 8,
 datetime.time(14, 59): 1,
 datetime.time(15, 4): 1,
 datetime.time(15, 7): 2,
 datetime.time(15, 10): 5,
 datetime.time(15, 16): 2,
 datetime.time(15, 19): 2,
 datetime.time(15, 27): 3,
 datetime.time(15, 40): 3,
 datetime.time(15, 49): 3,
 datetime.time(15, 53): 1,
 datetime.time(14, 20): 6,
 datetime.time(17, 35): 17,
 datetime.time(14, 49): 1,
 datetime.time(16, 50): 3,
 datetime.time(11, 42): 2,
 datetime.time(17, 10): 7,
 datetime.time(14, 7): 1,
 datetime.time(6, 30): 32,
 datetime.time(18, 40): 6,
 datetime.time(18, 52): 1,
 datetime.time(15, 17): 1,
 datetime.time(19, 20): 1,
 datetime.time(15, 50): 4,
 datetime.time(14, 18): 1,
 datetime.time(15, 1): 16,
 datetime.time(16, 46): 1,
 datetime.time(14, 25): 2,
 datetime.time(18, 4): 1,
 datetime.time(18, 13): 1,
 datetime.time(18, 25): 1,
 datetime.time(18, 28): 1,
 datetime.time(18, 35): 2,
 datetime.time(18, 55): 1,
 datetime.time(18, 57): 2,
 datetime.time(14, 40): 6,
 datetime.time(18, 7): 1,
 datetime.time(18, 26): 1,
 datetime.time(18, 27): 1,
 datetime.time(19, 5): 2,
 datetime.time(19, 10): 4,
 datetime.time(19, 50): 1,
 datetime.time(20, 10): 1}

In [155]:
print(min(time_list.keys()))
print(max(time_list.keys()))

06:00:00
21:30:00

In [172]:
duration = []
for i in data:
    duration.append(i[3]-i[2])

dt.datetime.now()+min(duration)

sum(duration,dt.timedelta(0))

datetime.timedelta(days=21210, seconds=50520)