In [114]:
import pandas as pd
file = pd.read_csv('modern_arts.csv')
file

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,(American),(1947),(2013),(Female),1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,(Spanish),(1916),(2007),(Male),1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,(French),(1870),(1943),(Male),1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,(French),(1861),(1944),(Male),1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,(French),(1857),(1927),(Male),1903,Photography
...,...,...,...,...,...,...,...,...
16720,Oval with Points,Henry Moore,(British),(1898),(1986),(Male),1968-1969,Painting & Sculpture
16721,"Cementerio de la Ciudad Abierta, Ritoque, Chile",Juan Baixas,(Chilean),(1942),NaN,(Male),1975,Architecture & Design
16722,The Catboat,Edward Hopper,(American),(1882),(1967),(Male),1922,Prints & Illustrated Books
16723,Dognat' i peregnat' v tekhniko-ekonomicheskom ...,Unknown,(),NaN,NaN,(),1931,Prints & Illustrated Books
16724,Plate (page 11) from The Dive,Alex Katz,(American),(1927),NaN,(Male),2011,Prints & Illustrated Books

In [115]:
import csv
head_py, dat_py = list(csv.reader(open('modern_arts.csv', encoding = 'UTF - 8')))[0], list(csv.reader(open('modern_arts.csv', encoding = 'UTF - 8')))[1:]

In [116]:
print(head_py)
print()
print(dat_py[0])

['Title', 'Artist', 'Nationality', 'BeginDate', 'EndDate', 'Gender', 'Date', 'Department']

['Dress MacLeod from Tartan Sets', 'Sarah Charlesworth', '(American)', '(1947)', '(2013)', '(Female)', '1986', 'Prints & Illustrated Books']

In [117]:
name = '(Mu(zam)mil)'
name

'(Mu(zam)mil)'

In [118]:
name.strip('(').strip(')').replace('(','').replace(')','')

'Muzammil'

In [119]:
for i in name:
    if i == "(" or i == ")":
        continueb
    else:    
        print(i)

NameError: name 'continueb' is not defined

In [ ]:
print('Nationality index is', head_py.index('Nationality'))
print('Gender index is', (head_py.index('Gender')) - (len(head_py)))

In [ ]:
print(head_py[2], ' ', head_py[-3])
for i in dat_py:
    i[2] = i[2].replace('(','').replace(')','')
    i[-3] = i[-3].replace('(','').replace(')','')
for t in range(0,10):
    print(dat_py[t][2],' ',dat_py[t][-3])

In [ ]:
file['Nationality'] = file['Nationality'].str.strip('(').str.strip(')')
file['Gender'] = file['Gender'].str.strip('(').str.strip(')')
file

In [ ]:
count = 0
for i in dat_py:
    count += 1
    if i[2] == '':
        i[2] = 'Nationality unknown'
        print(count)
    else:
        False

In [ ]:
dat_pay[-5:]

In [ ]:
import csv
h_py, d_py = list(csv.reader(open('modern_arts.csv', encoding = 'Latin - 1')))[0], list(csv.reader(open('modern_arts.csv', encoding = 'Latin - 1')))[1:]
print(h_py)
print()
print(d_py[0:2])

In [ ]:
blank_row = []
count = -1
for i in d_py:
    count += 1
    if i[-3] == '()':
        print(count)
        blank_row.append(count)
    else:
        pass
len(blank_row)

In [ ]:
file[file['Gender'] == '()']['Gender']

In [ ]:
for i in d_py:
    i[2] = i[2].strip('(').strip(')')
    i[-3] = i[-3].strip('(').strip(')')
print(h_py[2],' ',h_py[-3])   
for i in range(0,10):
    print(d_py[i][2],' ',d_py[i][-3])

In [ ]:
blank_nat = []
count_n = -1
for i in d_py:
    count_n += 1
    if i[2] == '':
        blank_nat.append(count_n)
    else:
        pass
    
blank_gen = []
count_g = -1
for i in d_py:
    count_g += 1
    if i[-3] == '':
        blank_gen.append(count_g)
    else:
        pass

In [ ]:
for i in range(0,10):
    print(blank_nat[i],' ',blank_gen[i])

In [ ]:
for i in d_py:
    if i[2] == '':
        i[2] = 'Nationality Unknown'
    if i[-3] == '':
        i[-3] = 'Gender Unknown'

for i in blank_nat[0:5]:
    print(d_py[i][2])
    print()
    
for i in blank_gen[0:5]:
    print(d_py[i][-3])
    print()

In [ ]:
Nat_TF = file['Nationality'] == '()'

In [ ]:
file[Nat_TF]

In [ ]:
file['Nationality'] = file['Nationality'].str.strip('(').str.strip(')')
file['Gender'] = file['Gender'].str.strip('(').str.strip(')')
file

In [ ]:
boolean = file['Nationality']==''

In [ ]:
file.loc[boolean, 'Nationality'] = 'Nationality Unknown'

In [ ]:
file[file['Nationality'] == 'Nationality Unknown']

In [ ]:
boolean_gen = file['Gender'] == ''

In [ ]:
file.loc[boolean_gen,'Gender'] = 'Gender Unknown'

In [ ]:
file[file['Gender']=='Gender Unknown']

In [ ]:
for i in range(0,10):
    print(file.loc[i,'Gendber'])

In [ ]:
file

In [ ]:
file.isnull().sum()

In [ ]:
file.notnull().sum()

In [ ]:
file

In [ ]:
Boolean_nat = file['Nationality'] == 'Nationality Unknown'

In [ ]:
file.loc[Boolean_nat, 'Nationality'] = ''

In [ ]:
bool_new_nat = file['Nationality'] == ''

In [ ]:
file.loc[bool_new_nat,'Nationality'] = 'Nationality Unknown'

In [ ]:
file

In [ ]:
file.loc[file['Gender'] == '','Gender'] = 'Gender Unknown'

In [ ]:
file

In [ ]:
bool_art=file['Artist'] == ''

In [ ]:
file[bool_art]

In [ ]:
file.loc[file['Title']=='', 'Title'] = 'Title Unknown'

In [ ]:
file['Title'][13314].isnull()

In [ ]:
file.iloc[13314,0]

In [ ]:
count = -1
for i in d_py:
    count += 1
    if i[0] == '':
        print(count)
    else:
        pass
print(d_py[13314])

In [133]:
file.loc[0]

Title          Dress MacLeod from Tartan Sets
Artist                     Sarah Charlesworth
Nationality                        (American)
BeginDate                              (1947)
EndDate                                (2013)
Gender                               (Female)
Date                                     1986
Department         Prints & Illustrated Books
Name: 0, dtype: object

In [134]:
f = file.copy()

In [137]:
f = f.set_index('Nationality')

In [150]:
f[f['Artist']=='Sarah Charlesworth']

,Title,Artist,BeginDate,EndDate,Gender,Date,Department
Nationality,,,,,,,
(American),Dress MacLeod from Tartan Sets,Sarah Charlesworth,(1947),(2013),(Female),1986,Prints & Illustrated Books

In [156]:
file.iloc[0:5,4]

0    (2013)
1    (2007)
2    (1943)
3    (1944)
4    (1927)
Name: EndDate, dtype: object

In [149]:
f.loc['(American)','Artist']

Nationality
(American)           Sarah Charlesworth
(American)             Antonio Frasconi
(American)              Garry Winogrand
(American)                     Jim Dine
(American)    Franklin Chenault Watkins
                        ...
(American)     Ludwig Mies van der Rohe
(American)              Edward Steichen
(American)       Matthew Rackham Barnes
(American)                Edward Hopper
(American)                    Alex Katz
Name: Artist, Length: 7444, dtype: object

In [146]:
f

,Title,Artist,BeginDate,EndDate,Gender,Date,Department
Nationality,,,,,,,
(American),Dress MacLeod from Tartan Sets,Sarah Charlesworth,(1947),(2013),(Female),1986,Prints & Illustrated Books
(Spanish),Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,(1916),(2007),(Male),1978,Prints & Illustrated Books
(French),Tailpiece (page 55) from SAGESSE,Maurice Denis,(1870),(1943),(Male),1889-1911,Prints & Illustrated Books
(French),Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,(1861),(1944),(Male),1927-1940,Prints & Illustrated Books
(French),97 rue du Bac,Eugène Atget,(1857),(1927),(Male),1903,Photography
...,...,...,...,...,...,...,...
(British),Oval with Points,Henry Moore,(1898),(1986),(Male),1968-1969,Painting & Sculpture
(Chilean),"Cementerio de la Ciudad Abierta, Ritoque, Chile",Juan Baixas,(1942),NaN,(Male),1975,Architecture & Design
(American),The Catboat,Edward Hopper,(1882),(1967),(Male),1922,Prints & Illustrated Books
(),Dognat' i peregnat' v tekhniko-ekonomicheskom ...,Unknown,NaN,NaN,(),1931,Prints & Illustrated Books
(American),Plate (page 11) from The Dive,Alex Katz,(1927),NaN,(Male),2011,Prints & Illustrated Books