In [69]:
import csv

header, data = list(csv.reader(open('Store.csv', encoding = 'UTF - 8')))[0] , list(csv.reader(open('Store.csv', encoding = 'UTF - 8')))[1:]

In [93]:
print(len(data))

7197

In [89]:
for i in range(0,16):
    print(i," ",header[i]," ",data[0][i])

0   id   284882215
1   track_name   Facebook
2   size_bytes   389879808
3   currency   USD
4   price   0.0
5   rating_count_tot   2974676
6   rating_count_ver   212
7   user_rating   3.5
8   user_rating_ver   3.5
9   ver   95.0
10   cont_rating   4+
11   prime_genre   Social Networking
12   sup_devices.num   37
13   ipadSc_urls.num   1
14   lang.num   29
15   vpp_lic   1

In [162]:
import csv

header , data = list(csv.reader(open('Store.csv', encoding = 'UTF - 8')))[0] , list(csv.reader(open('Store.csv', encoding = 'UTF - 8')))[1:]

for i in data:
    if float(i[4])==0:
        i.insert(5,'free')
    elif float(i[4]) <= 20:
        i.insert(5,'affordable')
    elif float(i[4]) <= 50:
        i.insert(5,'expensive')
    else:
        i.insert(5,'most expensive')

        
free = 0
affordable = 0
expensive = 0
most_expensive = 0        
for x in data:
    if x[5] == 'free':
        free += 1
    elif x[5] == 'affordable':
        affordable += 1
    elif x[5] == 'expensive':
        expensive += 1
    elif x[5] == 'most expensive':
        most_expensive += 1
print('free count is',free)
print('affordable count is',affordable)
print('expensive count is',expensive)
print('most expensive count is',most_expensive)
free+affordable+expensive+most_expensive

free count is 4056
affordable count is 3105
expensive count is 29
most expensive count is 7

7197

In [163]:
prict_cat = {}
for i in data:
    if i[5] not in prict_cat:
        prict_cat[i[5]] = 1
    else:
        prict_cat[i[5]] += 1
print(prict_cat)

{'free': 4056, 'affordable': 3105, 'expensive': 29, 'most expensive': 7}

In [153]:
name = ['m','u','a','m','i','l']
name.insert(2,'z')
name.insert(5,'m')
name

for i in name:
    print(i)

m
u
z
a
m
m
i
l

In [146]:
name.insert(2,'z')
name.insert(5,'m')

In [147]:
name

['m', 'u', 'z', 'z', 'a', 'm', 'm', 'i', 'l']

In [94]:
uni_track = []
dup_track = []
for i in data:
    if i[11] not in uni_track:
        uni_track.append(i[11])
    else:
        dup_track.append(i[11])
print(len(uni_track))
print(len(dup_track))

23
7174

In [95]:
uni_track

['Social Networking',
 'Photo & Video',
 'Games',
 'Music',
 'Reference',
 'Health & Fitness',
 'Weather',
 'Utilities',
 'Travel',
 'Shopping',
 'News',
 'Navigation',
 'Lifestyle',
 'Entertainment',
 'Food & Drink',
 'Sports',
 'Book',
 'Finance',
 'Education',
 'Productivity',
 'Business',
 'Catalogs',
 'Medical']

In [101]:
for i in uni_track:
    count = 0
    for y in data:
        if i == y[11]:
            count += 1
        else:
            pass
    print(i,count)

Social Networking 167
Photo & Video 349
Games 3862
Music 138
Reference 64
Health & Fitness 180
Weather 72
Utilities 248
Travel 81
Shopping 122
News 75
Navigation 46
Lifestyle 144
Entertainment 535
Food & Drink 63
Sports 114
Book 112
Finance 104
Education 453
Productivity 178
Business 57
Catalogs 10
Medical 23

In [115]:
z = []for i in uni_track:
    z = []
    for y in data:
        if i == y[11]:
            z.append(1)
        else:
            pass
    print(i,sum(z))

Social Networking 167
Photo & Video 349
Games 3862
Music 138
Reference 64
Health & Fitness 180
Weather 72
Utilities 248
Travel 81
Shopping 122
News 75
Navigation 46
Lifestyle 144
Entertainment 535
Food & Drink 63
Sports 114
Book 112
Finance 104
Education 453
Productivity 178
Business 57
Catalogs 10
Medical 23

In [125]:
prime_genra = dict()
for i in data:
    if i[11] not in prime_genra:
        prime_genra[i[11]] = 1
    else:
        prime_genra[i[11]] += 1
        
print(prime_genra)

{'Social Networking': 167, 'Photo & Video': 349, 'Games': 3862, 'Music': 138, 'Reference': 64, 'Health & Fitness': 180, 'Weather': 72, 'Utilities': 248, 'Travel': 81, 'Shopping': 122, 'News': 75, 'Navigation': 46, 'Lifestyle': 144, 'Entertainment': 535, 'Food & Drink': 63, 'Sports': 114, 'Book': 112, 'Finance': 104, 'Education': 453, 'Productivity': 178, 'Business': 57, 'Catalogs': 10, 'Medical': 23}

In [136]:
sum_c = 0
for i in prime_genra.values():
    sum_c += i
    print(sum_c)

167
516
4378
4516
4580
4760
4832
5080
5161
5283
5358
5404
5548
6083
6146
6260
6372
6476
6929
7107
7164
7174
7197

In [124]:
prime_genra_2 = {}
for i in data:
    if i[11] in prime_genra_2:
        prime_genra_2[i[11]] += 1
    else:
        prime_genra_2[i[11]] = 1
        
print(prime_genra_2)

{'Social Networking': 167, 'Photo & Video': 349, 'Games': 3862, 'Music': 138, 'Reference': 64, 'Health & Fitness': 180, 'Weather': 72, 'Utilities': 248, 'Travel': 81, 'Shopping': 122, 'News': 75, 'Navigation': 46, 'Lifestyle': 144, 'Entertainment': 535, 'Food & Drink': 63, 'Sports': 114, 'Book': 112, 'Finance': 104, 'Education': 453, 'Productivity': 178, 'Business': 57, 'Catalogs': 10, 'Medical': 23}

In [165]:
experiment = [['a','b','c','d''e'],[0,1,2,3,4,5],[10,9,8,7,6,5]]

In [ ]:
for i in experiment: