# Pandas

In [34]:
file = 'modern_arts.csv'

import pandas as pd

arts = pd.read_csv(file)

arts

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,(American),(1947),(2013),(Female),1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,(Spanish),(1916),(2007),(Male),1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,(French),(1870),(1943),(Male),1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,(French),(1861),(1944),(Male),1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,(French),(1857),(1927),(Male),1903,Photography
...,...,...,...,...,...,...,...,...
16720,Oval with Points,Henry Moore,(British),(1898),(1986),(Male),1968-1969,Painting & Sculpture
16721,"Cementerio de la Ciudad Abierta, Ritoque, Chile",Juan Baixas,(Chilean),(1942),NaN,(Male),1975,Architecture & Design
16722,The Catboat,Edward Hopper,(American),(1882),(1967),(Male),1922,Prints & Illustrated Books
16723,Dognat' i peregnat' v tekhniko-ekonomicheskom ...,Unknown,(),NaN,NaN,(),1931,Prints & Illustrated Books
16724,Plate (page 11) from The Dive,Alex Katz,(American),(1927),NaN,(Male),2011,Prints & Illustrated Books

In [35]:
type(arts)

pandas.core.frame.DataFrame

In [36]:
arts.shape

(16725, 8)

In [50]:
arts.shape[0]

16725

In [51]:
arts.shape[1]

8

In [52]:
num_rows = arts.shape[0]
num_coloumns = arts.shape[1]

In [58]:
print('(',num_rows,',',num_coloumns,')')

( 16725 , 8 )

In [59]:
arts.columns

Index(['Title', 'Artist', 'Nationality', 'BeginDate', 'EndDate', 'Gender',
       'Date', 'Department'],
      dtype='object')

In [61]:
type(arts.shape)

tuple

In [62]:
type(arts.head)

method

In [68]:
arts.head(10)

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,(American),(1947),(2013),(Female),1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,(Spanish),(1916),(2007),(Male),1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,(French),(1870),(1943),(Male),1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,(French),(1861),(1944),(Male),1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,(French),(1857),(1927),(Male),1903,Photography
5,Pictorial ornament (folio 11) from WOODCUTS,Antonio Frasconi,(American),(1919),(2013),(Male),1957,Prints & Illustrated Books
6,Rue de l'Hôtel-de-Ville,Eugène Atget,(French),(1857),(1927),(Male),1924,Photography
7,Los Angeles Airport,Garry Winogrand,(American),(1928),(1984),(Male),1978-1983,Photography
8,Why Defy from Disasters of Peace,Diane Victor,(South African),(1964),NaN,(Female),2001,Prints & Illustrated Books
9,STILL WATER AND FISH,David Brown Milne,(Canadian),(1882),(1953),(Male),(1941),Prints & Illustrated Books

In [70]:
type(arts['Gender'])

pandas.core.series.Series

In [85]:
arts['Gender']

0        (Female)
1          (Male)
2          (Male)
3          (Male)
4          (Male)
           ...
16720      (Male)
16721      (Male)
16722      (Male)
16723          ()
16724      (Male)
Name: Gender, Length: 16725, dtype: object

In [92]:
arts['Department'].head(10)

0    Prints & Illustrated Books
1    Prints & Illustrated Books
2    Prints & Illustrated Books
3    Prints & Illustrated Books
4                   Photography
5    Prints & Illustrated Books
6                   Photography
7                   Photography
8    Prints & Illustrated Books
9    Prints & Illustrated Books
Name: Department, dtype: object

In [ ]:
type(arts)